**/.git
**/.gitignore
**/.vs
**/.vscode
**/.idea
**/bin
**/obj
**/build
**/bld
**/.DS_Store
**/Thumbs.db
**/*.user
**/*.suo
**/node_modules

**/docker-compose*.yml
**/.env
**/Dockerfile*
**/.dockerignore
**/README.md
**/*.md